<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Outliers Name Quiz</title>
  </head>
  <body>
    <h1 style="text-align: center">Outliers Name Quiz</h1>
    <div id="title-screen">
      <button onclick="startGame()">Play</button>
      <button onclick="showHighScore()">High Score</button>
    </div>
    <div id="game-screen" style="display: none">
      <h2 id="question">Question goes here</h2>
      <div id="options">
        <!-- Options (buttons) will be dynamically added here -->
      </div>
      <p id="score">Score: 0</p>
      <button onclick="nextQuestion()">Next Question</button>
    </div>
    <div id="end-screen" style="display: none">
      <h2>Game Over!</h2>
      <p id="final-score">Your Final Score: 0</p>
      <button onclick="goToMainScreen()">Back</button>
    </div>
    <div id="high-score-screen" style="display: none">
      <h2>High Scores</h2>
      <div id="high-scores"></div>
      <button onclick="goToMainScreen()">Back</button>
    </div>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
